<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit Categories</title>
  <link rel="stylesheet" href="css/base.css" />
  <link rel="stylesheet" href="css/partials/formcopy.css" />
  <!-- <link rel="stylesheet" href="css/pages/form.css" /> -->
  <!-- <link rel="icon" type="image/x-icon" href="../images/message-icon.png"> -->
</head>

<body class="grid-index">
  <header><%- include('../../partials/nav.ejs') %></header>
  <main>
    <div class="box-index">


      <form class="form-all-users" name="form" method="POST"
        action="/delete?tableName=<%= tableName%>&nameField=<%= fieldName %> ">
        <label>
          <h1>
            <%= tableName %>

          </h1>
        </label>

        <fieldset class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th >
                  <input type="checkbox" name="checkname" class="selectall" />
                  <p>Modified</p>
                </th>
                <% rowHeader.forEach((field)=> { %>
                  <th>
                    <%= field %>
                  </th>
                  <% }); %>
              </tr>
            </thead>
            <tbody>
              <!-- //TODO: CAMBIAR NOMBRE categories -->
              <% categories.map(item=> { %>
                <tr>
                  <td class="colm-modified">
                    <% const idField=Object.keys(item).map(x=> item[x])[0] %>
                      <input id="<%= idField %>" type="checkbox" name="checkname" class="check" value=<%=idField %> />
                      <a
                        href="/editItem?tableName=<%= tableName%>&nameField=<%= fieldName %>&id=<%= idField %>  ">edit</a>
                  </td>
                  <% Object.keys(item).forEach((fieldName)=> { %>
                    <td>
                      <%= item[fieldName] %>
                    </td>
                    <% }); %>
                </tr>
                <% }) %>
            </tbody>

          </table>
        </fieldset>

        <div class="box-table-final">
          <div>
            <a class="btn-add-new-user" href="/table:create?tableName=<%= tableName%>&rowHeader=<%= rowHeader  %> ">ADD NEW ITEM</a>
          </div>
          <div>

            <p>Items selected (<span class="itemsSelected"></span>) </p>
            <button id="btn-alluser-delete" class="btn-delete alluser">
              Delete
            </button>
          </div>


        </div>
 
      </form>
    </div>
  </main>

  <%- include('../../partials/footer.ejs') %>
    <script src='js/editForm.mjs'></script>
</body>

</html>